<%- include('partials/head'); -%>

	<link rel='Stylesheet' href='../css/output_design.css'>
	<link rel='Stylesheet' href='../css/output_layout.css'>

</head>

<body>

	<%- include('partials/top_search'); -%>

	<% if (easteregg == 'homer') { %>
	<object data="../img/homer.svg" width="400" height="400"></object>
	<% } %>

	<div id='mainContainer'>

		<% obj.forEach(o => { %>

		<div class='URL_container'>
			<div class='URL'> <%= o.title %> </div>
			<div class='URL_info'><a href="<%= o.url %>"><%= o.url %></a> </div>
    </div>

		<% }); %>

	</div>

	<%- include('partials/footer'); -%>

</body>

</html>
